.footer {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 40px 0 40px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 68px 30px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
}

.footer__items:not(:last-child) {
    margin-bottom: 20px;
}

.footer__link {
    transition: color .3s ease-in-out;
}

.footer__link:hover {
    color: var(--second-bg-color)
}

.footer__logo {
    max-width: 40px;
    max-height: 40px;
}

.footer__list-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__link-social {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

@media(max-width: 1200px) {
    .footer__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__contacts {
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .footer {
        padding: 20px 0 20px;
    }

    .footer__container {
        gap: 34px 14px;
    }

    .footer__contacts {
        font-size: 18px;
    }
}

@media(max-width: 760px) {
    .footer__contacts {
        font-size: 16px;
    }

    .footer__items:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer__link-social {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

}